<h2>Register</h2>
<form (ngSubmit)="signup()">
    <div>
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" name="fullname" [(ngModel)]="fullname" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit">Signup</button>
    <p>Already have an account ? <a [routerLink]="['/login']">Login</a></p>
</form>
